#layout {
  display: flex;
}

#layout > #drawer {
  height: 100vh;
  min-width: 250px;
}

#layout > #overlay {
  display:none;
}

.hidden {
  display:none
}

#layout > #container {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction:column;
}

#container > #searchbar {
  padding: 15px;
  min-height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchbar > .searchbox {
  flex:1;
}

#container > .page {
  flex:1;
  display: flex;
  flex-direction: column;
  background-color: #EEE;
}

#layout > #toolbar {
  width:100px;
}

.page > header {
  display: flex;
  min-height: 115px;
}

.page > main {
  flex: 1;
  color: rgba(0,0,0,0.8);
  background-color: #FFF;
  padding: 15px 15px 0px 15px;
  overflow-y: auto;
}

.fab {
  position: absolute;
  top: 80px;
  bottom: auto;
  right: 130px;
  padding-top: 8px;
}

@media all and (max-width:1280px) {

  #layout > #drawerButton {
    display:block;
    position:absolute;
    top:30px;
    left:15px;
  }

  #layout > #drawer {
    position: absolute;
    left: -300px;
    background: #444;
    -webkit-transition: left 0.5s;
    -webkit-transition-timming-function: ease-in-out;
    transition: left 0.5s ease-in-out;
  }

  #drawer.open {
    z-index: 1001;
    left: 0px !important;
    -webkit-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.46);
    box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.46);
  }

  #overlay.open {
    z-index: 1000;
    display: block !important;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.7);
  }

  #container > #searchbar {
    display:none;
  }

  #container > .page {
    padding:0px;
    background-color: inherit;
  }

  #container > .page main {
    color: rgba(0, 0, 0, 0.8);
    background-color: #FFF;
  }

  #toolbar {
    display:none;
    position: absolute;
    right: -150px;
  }

  .fab {
    position: absolute;
    top: auto;
    bottom: 16px;
    right: 30px;
    padding-top: 8px;
  }
}
