#menu {
  padding-top: 11px;
}

#menu nav {
  padding-top: 8px;
}

.menu-item {
  display: flex;
  align-items: center;
  color: #FFF;
  height: 50px;
}

.menu-item > i {
  width:72px;
  padding: 16px;
}

.menu-item:hover {
  background-color: rgba(100, 100, 100, 0.5);
}

#menu-title {
  padding-left:16px;
}

.mui-divider {
  background-color: rgba(150, 150, 150, 0.7);
  margin-left: 8px;
  margin-right:8px;
}

#menu-user {
  padding-top: 16px;
  padding-left:16px;
}

#menu-user > h5 {
  margin-top: 10px;
  margin-bottom: 0px;
}

#menu-user > h6 {
  margin-top: 0px;
  margin-bottom: 10px;
}

#menu-user #avatar {
  width:40px;
  height:40px;
  background: #FFF;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  display:flex;
  align-items: center;
  justify-content: center;
}
@media all and (max-width:1280px) {

nav {
  height: 100vh;
  background: #FFF;
  color: rgba(0, 0, 0, 0.8);
}

  .menu-item {
    color: rgba(0, 0, 0, 0.8);
  }
}
